*{
    padding: 0;
    margin: 0;
}
#content{
    background-color: rgb(180, 0, 0);
    display: flex;
    justify-content: space-around;

}

.column{

    padding: 4vh;
}

.title{
    text-align: center;
}

.paragraph {
    text-align: center;
}